<div class="row">
	<div class="forms col s6 offset-s3">
		<div class="in_forms">
			<%= form_for [@list, @item] do |f| %>
				<%= f.label :item_name %>
				<%= f.text_field :item_name %>
				<br>
				<%= f.label :description %>
				<%= f.text_field :description %>
				<br>
				<%= f.label :complete %>
				<%= f.select :complete, ['Yes', 'No'] %>
				<br>
				<%= f.label :in_progress %>
				<%= f.select :in_progress, ['Yes', 'No'] %>
				<br>
				<%= f.label :like %>
				<%= f.select :like, ['Yes', 'No'] %>
				<br>
				<%= f.submit %>
			<% end %>
		</div>
	</div>
</div>
