<div class="row">
	<div class="forms col s6 offset-s3">
		<div class="in_forms">
			<% if current_user.id == @list.user_id %>
				<%= form_for [@list, @item], html: { multipart: true } do |f| %>
					<%= f.label :item_name %>
					<%= f.text_field :item_name %>
					<br>
					<%= f.label :description %>
					<%= f.text_field :description %>
					<br>
					<%= f.label :complete %>
					<%= f.select :complete, ['Yes', 'No'] %>
					<br>
					<%= f.label :in_progress %>
					<%= f.select :in_progress, ['Yes', 'No'] %>
					<br>
					<%= f.label :like %>
					<%= f.select :like, ['Yes', 'No'] %>
					<br>
					<%= f.label :image %>
					<%= f.file_field :image %>
					<br>
					<%= f.submit %>
				<% end %>
			<% else %>
				<h3 class="center-align">This isn't your list to add to</h3>
			<% end %>
		</div>
	</div>
</div>
