<div class="row">
	<div class="pic col s1 offset-s3">
		<%= image_tag "bucket.png", size: "50x50" %>
	</div>
	<div class="col s4">
			<h3 class="center-align"> <%= @list.name %>'s Items </h3>
	</div>
	<div class="pic col s1">
		<%= image_tag "bucket.png", size: "50x50" %>
	</div>
</div>

<div class="row">
	<div class="col s1 offset-s1 valign-wrapper">
	  <div class="btn-large waves-effect waves-light #0d47a1 blue darken-4"">
			<%= link_to "Add", new_list_item_path(@list), class: "valign"%>
		</div>
	</div>
</div>

<div class="row">	
	<div class="col s10 offset-s1">
		<div>
			<h3>Remaining items</h3>
			<ul>
				<% @items.each do |item| %>
					<% if item.complete %>
						<p></p>
					<% else %>
						<li><%= link_to item.item_name, list_item_path(@list, item) %></li>
					<% end %>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<div class="row">	
	<div class="col s10 offset-s1">
		<div>
			<h3>All items</h3>
			<ul>
				<% @items.each do |item| %>
					<% if item.complete %>
						<li><strike><%= link_to item.item_name, list_item_path(@list, item) %></strike></li>
					<% else %>
						<li><%= link_to item.item_name, list_item_path(@list, item) %></li>
					<% end %>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<div class="row">	
	<div class="col s10 offset-s1">
		<div>
			<h3>Completed</h3>
			<ul>
				<% @items.each do |item| %>
					<% if item.complete %>
						<li><%= link_to item.item_name, list_item_path(@list, item) %></li>
					<% else %>
						<h3></h3>
					<% end %>
				<% end %>	
			</ul>
		</div>
	</div>
</div>
<hr>
<div class="page-link">
	<%= link_to "All lists", lists_path %>
</div>