<div class="row">
	<div class="pic col s1 offset-s3">
		<%= image_tag "bucket.png", size: "50x50" %>
	</div>
	<div class="col s4">
			<h3 class="center-align"> Add a new Item to <%= @list.name %> </h3>
	</div>
	<div class="pic col s1">
		<%= image_tag "bucket.png", size: "50x50" %>
	</div>
</div>


<%= render(partial: 'form') %>

<hr>
<div class="page-link">
	<%= link_to 'All items', list_items_path(@list) %>
</div>